/* style.css for admin_dashboard_project */
* {
  /* stylesheet reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, san-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

img {
  width: 1.4em;
  height: 1.4em;
  filter: invert(1);
}

.navBar {
  background-color: #00aaff;
  color: white;
  font-size: 1.4rem;
  font-weight: 900;
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 10px;
}

